<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">MP Ventures</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li>
					<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="outline: 0;">
						Youtubers
  						<mat-icon>arrow_drop_down</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
  						<button mat-menu-item style="outline: 0;">
    						<span>Youtuber 1</span>
  						</button>
  						<button mat-menu-item disabled style="outline: 0;">
    						<span>Youtuber 2</span>
  						</button>
  						<button mat-menu-item style="outline: 0;">
    						<span>Youtuber 3</span>
  						</button>
					</mat-menu>
				</li>
			</ul>
			<div class="col-sm-3 col-md-6 ml-auto mr-auto">
        		<form class="navbarch">
        			<div class="input-group">
            			<input type="text" class="form-control mr-sm-2" id="search" placeholder="Type Something" name="q">
            			<div class="input-group-btn">
                			<button mat-button type="submit" style="outline: 0;">
                				<mat-icon>search</mat-icon>
                				Search
                			</button>
            			</div>
        			</div>
        		</form>
    		</div>
    		<ul class="navbar-nav col-sm-3 col-md-2" style="display: flex; justify-content: space-around;">
    			<li>
					<button mat-icon-button (click)="onCartClicked()" style="outline: 0;">
						Cart
  						<mat-icon>shopping_cart</mat-icon>
					</button>
    			</li>
				<li *ngIf="isAuthenticated; else signin">
					<button mat-icon-button (click)="onSignIn()" style="outline: 0;">
						{{ name }}
  						<mat-icon>person</mat-icon>
					</button>
				</li>
				<ng-template #signin>
					<li>
						<button mat-icon-button (click)="onSignIn()" style="outline: 0;">
							Sign In
  							<mat-icon>person_add_alt_1</mat-icon>
						</button>
					</li>
				</ng-template>
			</ul>
		</div>
	</div>
</nav>
