<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">MP Ventures</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li>
					<div class="dropdown">
						<a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" (click)="openChange()" role="button">Youtubers <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" #myDropDown [@openClose]="isOpen ? 'open' : 'closed'" aria-labelledby="dropdownMenuButton">
							<li class="dropdown-item"><a style="cursor: pointer;">Youtuber 1</a></li>
							<li class="dropdown-item"><a style="cursor: pointer;">Youtuber 2</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="col-sm-3 col-md-6 ml-auto mr-auto">
        		<form class="navbarch">
        			<div class="input-group">
            			<input type="text" class="form-control mr-sm-2" placeholder="Search" name="q">
            			<div class="input-group-btn">
                			<button class="btn btn-default btn-success" type="submit">
                				Search
                			</button>
            			</div>
        			</div>
        		</form>
    		</div>
    		<ul class="navbar-nav col-sm-3 col-md-2" style="display: flex; justify-content: space-around;">
    			<li>
    				<a style="cursor: pointer;" role="button" (click)="onCartClicked()">
						Cart <fa-icon [icon]="faShoppingCart"></fa-icon>
					</a>
    			</li>
				<li *ngIf="isAuthenticated; else signin">Hello {{ name }}!</li>
				<ng-template #signin>
					<li>
						<a style="cursor: pointer;" role="button" (click)="onSignIn()">
							SignIn <fa-icon [icon]="faUserPlus"></fa-icon>
						</a>
					</li>
				</ng-template>
			</ul>
		</div>
	</div>
</nav>
