.carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

h2 {
	font-family: cursive;
	font-weight: 600;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 100px;
  background-size: 100%, 100%;
  font-size: 55px;
  color: black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
}

.carousel-control-prev-icon:after {
  content: '<';
}
